<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://apple.com">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>MyIntelGPU</string>
    <key>CFBundleIdentifier</key>
    <string>com.myintelgpu.driver</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>MyIntelGPU</string>
    <key>CFBundlePackageType</key>
    <string>KEXT</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>IOKitPersonalities</key>
    <dict>
        <key>MyIntelGPU_FakeID</key>
        <dict>
            <key>CFBundleIdentifier</key>
            <string>com.myintelgpu.driver</string>
            <key>IOClass</key>
            <string>MyIntelGPU</string>
            <key>IOProviderClass</key>
            <string>IOPCIDevice</string>
            <key>IOPCIPrimaryMatch</key>
            <string>0x46A08086 0x46A18086 0x46A68086 0x46B08086 0x46B18086 0xA7A08086 0xA7A18086 0xA7A88086 0xA7A98086 0xA7AA8086 0xA7AC8086</string>
        </dict>
    </dict>
    <key>OSBundleLibraries</key>
    <dict>
        <key>com.apple.kpi.iokit</key>
        <string>20.0.0</string>
        <key>com.apple.kpi.libkern</key>
        <string>20.0.0</string>
        <key>com.apple.iokit.IOGraphicsFamily</key>
        <string>24.0.0</string>
    </dict>
</dict>
</plist>
